.ul{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    
    width: 50%;
    list-style: none;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666666;
}

.li{
    display: inline-block;
    text-align: center;
}

.a{
    padding: 4px 12px;
    text-decoration: none;
    color: #666666;
}

.a:hover {
    text-decoration: underline;
    color: #b8b8b8;
    transition: all 1s ease-out;
}